<div class="all-notes__top-info-block">
    <h2 class="all-notes__main-title">All Notes</h2>
    <span class="all-notes__notes-amount">4 notes</span>
</div>

<div class="all-notes__notes-container">
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
    <div class="all-notes__note">
        <p class="all-notes__note-title">Title</p>
        <p class="all-notes__note-text">Text</p>
        <p class="all-notes__note-data">5 minutes ago</p>
    </div>
</div>

