.froala-editor-container {
  max-width: calc(100vw - 604px);
  width: 100%;
}

.froala-editor-instance {
  width: 100%;
}

.froala-editor-container, .froala-editor-instance {
  //flex-grow: 2;
}

.fr-wrapper {
  height: calc(100vh - 82px);
}